apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: cloud-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: apnacloudproject.azurecr.io/order-service:v1
          ports:
            - containerPort: 8084
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres:5432/orderdb"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "update"
            - name: SERVER_PORT
              value: "8084"
            - name: EXTERNAL_PRODUCT_SERVICE_URL
              value: "http://product-service:8082"
            - name: EXTERNAL_INVENTORY_SERVICE_URL
              value: "http://inventory-service:8083"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8084
            initialDelaySeconds: 30
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: cloud-project
spec:
  selector:
    app: order-service
  ports:
    - port: 8084
      targetPort: 8084
